<div
  id="flash_messages"
  style="
    font-size: 15px;
    position: fixed;
    width: 90%;
    z-index: 100;
    font-size: 15px;
    box-shadow: 0 0 black;
    margin: 10px 0 0 5%;
  "
>
</div>
<div style='padding: 25px;' id='floor-plan-react'>test</div>
